html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.link-focus,
.ul-address {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(white, rgb(126, 126, 126));
  background-image: url(./images/maxresdefault.png);

}

:root {
    --text-color: #212121;
    --beckground-color: #2196f3;
    --text-color-p: #757575;
    --body-background-color: #ffffff;
    --button-hover-focus: #188ce8;
    --footer-bacground-color: #2f303a;
    --teams-bacground-color: #f5f4fa;
    --border-color: #eeeeee;
    --icone-color: #afb1b8;
    --icone-bg-color: #f5f4fa;
    --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
  
    /* --technical-color: tomato; */
  }

.header {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 100;
  text-align: center;
  top: 150px;
   width: 100%;
}
.header__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
  z-index: -10;
}

.menu__logo {
  width: 600px;
  height: 242px;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu__button-w,
.menu__button-t {
  display: block;
  width: 202px;
  height: 45px;
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  transition: all 0.2s ease, visibility 0s;
  border-radius: 50px;
  background: rgba(246, 246, 246, 0);
  border: 2px solid #2f157a;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: #281a39;
  transition: inherit;
  font-size: 16px;
  display: initial;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.05em;
  color: #281a39;
}

.menu__button-w:hover,
.menu__button-t:hover {
  border-radius: 20px;
  background: #c74300;
  border: 2px solid #c74300;
  color: #ffffff;
}

.menu__button-w {
  width: 309px;
  height: 45px;
}

.menu__button-up {
  width: 388px;
  height: 40px;
  border: 4px solid #fcfb92;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  color: #fcfb92;
}

.menu__button-up:hover {
  background: #40c0f2;
  border-color: #40c0f2;
}

.menu__a {
  transition: inherit;
  font-size: 16px;
  font-family: futura-lt-w01-light, sans-serif;
  letter-spacing: 0.05em;
  color: #281a39;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  min-height: 10px;
  min-width: 10px;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
}

.section {
  margin: 10px 50px;
  
}
/* ========================== digitalisering ============================= */

.digitalisering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.digitalisering__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.digitalisering__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 15px;
  opacity: 0.9;
  background-image: linear-gradient(#c0bcbd, #989598);
  /* padding: 10px 24px; */
  width: 250px;
  height:450px;
}

.digitaliserin__img {
  width: 250px;
  height: 350px;
  align-items: center;
}

.digitalisering__h1 {
    line-height: 1.2em;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}

/* .digitalisering__h2 {
    padding-bottom: 28px; 
} */


/* ================================================================================================ */
.digitalisering__discript{
    position: relative;
    overflow: hidden;
}

.digitaliserin__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #281a39;
    padding: 0 24px;
    height: 100%;
    width: 100%;
    transition: transform 250ms var(--timing-functione);
    transform: translateY(101%);
    opacity: 0.33;
  }

.digitaliserin__conteiner-text {
 
        display: block;
        padding: 36px 20px;
        margin-top: 0;
        margin-bottom: 0;
        outline: 2px solid var(--technical-color);
        border-left: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
    
}
.digitaliserin__conteiner-text1{
    padding: 22px 20px;
}
.digitalisering__decoration {
    text-decoration: none;
  }
.digitaliserin__curd-discript {
    margin: 0;
    color: var(--body-background-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  
  .digitalisering__picture-decoration:hover .digitaliserin__paragraph,
  .digitalisering__picture-decoration:focus .digitaliserin__paragraph {
    transform: translateY(0);
    opacity: 0.8;
  }
/* ========================= footer ============================== */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(#c0bcbd, #989598); 
}