html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.link-focus,
.ul-address {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(white, rgb(126, 126, 126));
  background-image: url(./images/background1.jpg);
  
}
.header {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 100;
  text-align: center;
  top: 150px;
   width: 100%;
}
.header__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
  z-index: -10;
}

.menu__logo {
  width: 600px;
  height: 242px;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu__button-w,
.menu__button-t {
  display: block;
  width: 202px;
  height: 45px;
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  transition: all 0.2s ease, visibility 0s;
  border-radius: 50px;
  background: rgba(246, 246, 246, 0);
  border: 2px solid #2f157a;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: #281a39;

  transition: inherit;
  font-size: 16px;
  display: initial;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.05em;
  color: #281a39;
}

.menu__button-w:hover,
.menu__button-t:hover {
  border-radius: 20px;
  background: #c74300;
  border: 2px solid #c74300;
  color: #ffffff;
}

.menu__button-w {
  width: 309px;
  height: 45px;
}

.menu__button-up {
  width: 388px;
  height: 40px;
  border: 4px solid #fcfb92;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  color: #fcfb92;
}

.menu__button-up:hover {
  background: #40c0f2;
  border-color: #40c0f2;
}

.menu__a {
  transition: inherit;
  font-size: 16px;
  font-family: futura-lt-w01-light, sans-serif;
  letter-spacing: 0.05em;
  color: #281a39;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  min-height: 10px;
  min-width: 10px;
  padding: 0;
  touch-action: manipulation;
  width: 100%;
}

.section {
  margin: 50px 100px;
  
}
/* ========================== digitalisering ============================= */

.digitalisering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.digitalisering__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;


}

.digitalisering__item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 320px;
  opacity: 0.9;
  background-image: linear-gradient(white, rgb(126, 126, 126));
  padding: 10px;
  width: 300px;
  height: 629px;
}

.digitaliserin__img {
  width: 300px;
  height: 400px;
}
